@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1050px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  min-height: 265px;
}

.header .communication__top {
  text-align: end;
  padding: 12px 0;
}

.header .communication__top a {
  padding: 0 5px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.header .communication__top .communication__regist {
  margin-left: 20px;
}

.header .communication__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

@media screen and (max-width: 750px) {
  .header .communication__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header .communication__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.header .communication__help .communication__number {
  margin-left: 7px;
}

.header .communication__number-text {
  color: #666666;
  font-weight: 400;
  line-height: 21.01px;
  white-space: nowrap;
}

.header .communication__number--bold {
  font-weight: bold;
}

.header .communication__name {
  font-size: 52px;
  font-weight: 300;
  line-height: 36.47px;
  margin: 10px;
  white-space: nowrap;
}

@media screen and (max-width: 750px) {
  .header .communication__name {
    text-align: center;
  }
}

.header .communication__search {
  width: 200px;
  height: 35px;
  margin: 10px;
  border-radius: 18px;
  border: 1px solid #8d8d8dad;
  padding: 10px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .communication__search img {
  opacity: 0.4;
  margin-right: 6px;
}

.header .header__middle {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.425);
  border-top: 2px solid rgba(128, 128, 128, 0.425);
}

.header .header__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__filters li {
  margin: 7px 12px;
}

.header .header__filters li a {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

.header .header__middle--right {
  white-space: nowrap;
  margin-left: 20px;
}

.header .header__middle--right img {
  margin-right: 6px;
}

.header .header__bottom {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 790px) {
  .header .header__bottom {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header .header__bottom-part:nth-of-type(2) {
  margin: 0 20px;
}

@media screen and (max-width: 790px) {
  .header .header__bottom-part:nth-of-type(2) {
    margin: 8px 20px;
  }
}

@media screen and (max-width: 790px) {
  .header .header__bottom-part {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.first-screen {
  padding: 5px 0;
  background-color: #f2f2f2;
}

.first-screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  .first-screen .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.first-screen .first-screen__filter-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen .filter-block {
  width: 250px;
  height: 165px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 20px;
  margin-bottom: 5px;
}

.first-screen .filter-block h4 {
  color: #666666;
  font-size: 15px;
  font-weight: 700;
  line-height: 25.01px;
  text-transform: uppercase;
}

.first-screen .filter-block h3 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.first-screen .filter-block img {
  width: 50%;
}

.first-screen .filter-block h5 {
  margin-top: 19px;
  font-size: 15px;
  font-weight: 400;
}

.first-screen .filter-block button {
  width: 25px;
  background: none;
  border: none;
  margin-top: 5px;
}

.first-screen .filter-block button img {
  width: 25px;
  height: 25px;
}

.first-screen .first-screen__img {
  background-image: url(/img/first-screen/Image.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
  max-width: 735px;
  height: 505px;
  text-align: center;
  padding: 185px 49px 169px 402px;
}

@media screen and (max-width: 920px) {
  .first-screen .first-screen__img {
    padding: 185px 49px 169px 205px;
  }
}

@media screen and (max-width: 700px) {
  .first-screen .first-screen__img {
    padding: 185px 49px 169px 105px;
  }
}

.first-screen .first-screen__img h2 {
  color: #fc6f56;
  font-family: 'Mr Dafoe', cursive;
  font-size: 54px;
  font-weight: 400;
}

.first-screen .first-screen__img h2 span {
  color: #000000;
}

.first-screen .first-screen__img h3 {
  font-size: 21px;
  font-weight: 700;
  padding: 14px 0;
  margin-top: 15px;
  margin-bottom: 20px;
  border-top: #66666641 1px solid;
  border-bottom: #66666641 1px solid;
}

.first-screen .first-screen__img button {
  width: 136px;
  height: 33px;
  border-radius: 17px;
  border: 1px solid #000000;
  background: none;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-screen .first-screen__img button img {
  margin-left: 11px;
}

.first-screen .products__container {
  display: block;
  padding-top: 55px;
  max-width: 1050px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 55px;
}

.first-screen .products__container .products__column-name {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 34px;
}

.first-screen .products__container .products__cards-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

@media screen and (max-width: 996px) {
  .first-screen .products__container .products__cards-area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.first-screen .products__container .products__card {
  height: 280px;
  width: 225px;
}

@media screen and (max-width: 970px) {
  .first-screen .products__container .products__card {
    margin-bottom: 35px;
  }
}

.first-screen .products__container .products__card h3 {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.first-screen .products__container .products__inf {
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-screen .products__container .products__inf span {
  font-size: 16px;
  font-weight: 700;
  margin-right: 12px;
}

.first-screen .products__container .products__inf button {
  width: 96px;
  height: 25px;
  border-radius: 13px;
  border: 1px solid #000000;
  background: none;
  font-size: 16px;
  font-weight: 700;
  margin-right: 12px;
}

.footer .footer__top {
  background-color: white;
  padding-top: 75px;
  padding-bottom: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1035px) {
  .footer .footer__top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 395px) {
  .footer .footer__top {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.footer .footer__top h5 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer .footer__top a {
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 13px;
}

.footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  width: 180px;
}

@media screen and (max-width: 395px) {
  .footer .footer__links {
    margin-top: 50px;
  }
}

.footer .footer__usefulinf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 133px;
  margin: 0 50px;
}

@media screen and (max-width: 490px) {
  .footer .footer__usefulinf {
    margin: 0;
  }
}

@media screen and (max-width: 395px) {
  .footer .footer__usefulinf {
    margin-top: 50px;
  }
}

.footer .footer__conection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 212px;
  margin-right: 50px;
}

@media screen and (max-width: 757px) {
  .footer .footer__conection {
    margin-top: 50px;
  }
}

.footer .contact-form__input {
  width: 225px;
  height: 40px;
  border-radius: 18px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 16px;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer .contact-form__button {
  width: 225px;
  height: 40px;
  border-radius: 18px;
  background-color: #6fb07f;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}

.footer .footer__testimonials {
  width: 228px;
  margin-left: 50px;
}

@media screen and (max-width: 757px) {
  .footer .footer__testimonials {
    margin-top: 50px;
  }
}

@media screen and (max-width: 617px) {
  .footer .footer__testimonials {
    margin-left: 0px;
  }
}

.footer .footer__testimonials p {
  margin-bottom: 35px;
}

.footer__bottom {
  padding: 21px 0;
  background-color: #f2f2f2;
}

.footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 487px) {
  .footer__bottom .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__bottom .footer__year {
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin: 0 50px;
}

@media screen and (max-width: 487px) {
  .footer__bottom .footer__year {
    margin: 20px 50px;
  }
}
/*# sourceMappingURL=style.css.map */