/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1050px;
    padding: 0 30px;
    margin: 0 auto;
}
.header{
    min-height: 265px;
    .communication__top{
        text-align: end;
        padding: 12px 0;

        a{
            padding: 0 5px;
            color: #000000;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 700;
        }
        .communication__regist{
            margin-left: 20px;
        }
    }
    .communication__bottom{
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        @media screen and (max-width: 750px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .communication__help{
        display: flex;
        margin: 10px;
        .communication__number{
            margin-left: 7px;   
        }
    }
    .communication__number-text{
        color: #666666;
        font-weight: 400;
        line-height: 21.01px;
        white-space: nowrap;
    }        
    .communication__number--bold{
            font-weight: bold;
        }
    .communication__name{
        font-size: 52px;
        font-weight: 300;
        line-height: 36.47px;
        margin: 10px;
        white-space: nowrap;
        @media screen and (max-width: 750px) {
        text-align: center;
        }
    }
    .communication__search{
        width: 200px;
        height: 35px;
        margin: 10px;
        border-radius: 18px;
        border: 1px solid #8d8d8dad;
        padding: 10px 11px;
        display: flex;
        img{
            opacity: 0.4;
            margin-right: 6px;
        }
    }

    .header__middle{
        padding: 20px 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(128, 128, 128, 0.425);
        border-top: 2px solid rgba(128, 128, 128, 0.425);
    }
    .header__filters{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li{
            margin: 7px 12px;
            a{
                color: #000000;          
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
    .header__middle--right{
        white-space: nowrap;
        margin-left: 20px;
        img{
            margin-right: 6px;
        }
    }
    .header__bottom{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 790px) {
        justify-content: space-around;
        }
    }
    .header__bottom-part:nth-of-type(2) {
            margin: 0 20px;
            @media screen and (max-width: 790px) {
            margin: 8px 20px;
        }
        
    }
    .header__bottom-part{
        @media screen and (max-width: 790px) {
        margin-top: 8px;
        margin-bottom: 8px;
        }
    }

    
}
.first-screen{
    padding: 5px 0;
    
    background-color: #f2f2f2;
    .container{
        display: flex;
        ;
        @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    }
    .first-screen__filter-blocks{
        display: flex;
        flex-direction: column;
    }
    .filter-block{
        width: 250px;
        height: 165px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 25px 20px;
        margin-bottom: 5px;
        h4{
            color: #666666;
            font-size: 15px;
            font-weight: 700;
            line-height: 25.01px;
            text-transform: uppercase;
        }
        h3{
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        img{
            width: 50%;
        }
        h5{
            margin-top: 19px;
            font-size: 15px;
            font-weight: 400;
        }
        button{
            width: 25px;
            background: none;
            border: none;
            margin-top: 5px;
            img{
                width: 25px;
                height: 25px;
            }
        }
    }
    .first-screen__img{
        background-image: url(../img/first-screen/Image.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 5px;
        max-width: 735px;
        height: 505px;
        text-align: center;
        padding: 185px 49px 169px 402px;

        @media screen and (max-width: 920px) {
            padding: 185px 49px 169px 205px;
        }
        @media screen and (max-width: 700px) {
            padding: 185px 49px 169px 105px;
        }

        h2{
            color: #fc6f56;
            font-family: 'Mr Dafoe', cursive;
            font-size: 54px;
            font-weight: 400;
            span{
                color: #000000;
            }
        }
        h3{
            font-size: 21px;
            font-weight: 700;
            padding: 14px 0;
            margin-top: 15px;
            margin-bottom: 20px;
            border-top: #66666641 1px solid;
            border-bottom:  #66666641 1px solid;
        }
        button{
            width: 136px;
            height: 33px;
            border-radius: 17px;
            border: 1px solid #000000;
            background: none;
            margin: 0 auto;

            font-size: 15px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-left: 11px;
            }
        }
    }
        .products__container{
        display: block;
        padding-top: 55px;
        max-width: 1050px;
        padding: 0 30px;
        margin: 0 auto;
        padding-top: 55px;

        .products__column-name{
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 34px;
        }
        .products__cards-area{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 55px;
            @media screen and (max-width: 996px) {
            flex-wrap: wrap;
            justify-content: space-around;
            }
            
        }
        .products__card{
            height: 280px;
            width: 225px;
            @media screen and (max-width: 970px){
                margin-bottom: 35px;
            }
            h3{
                font-size: 14px;
                font-weight: 700;
                text-align: center;
                padding-bottom: 20px;

            }

        }
        .products__inf{
            margin-top: 11px;
            display: flex;
            justify-content: center;
            align-items: center;

            span{
                font-size: 16px;
                font-weight: 700;
                margin-right: 12px;
            }
            button{
                width: 96px;
                height: 25px;
                border-radius: 13px;
                border: 1px solid #000000;
                background: none;
                font-size: 16px;
                font-weight: 700;
                margin-right: 12px;
            }

        }
    }
}
.footer{
    .footer__top{
        background-color: white;
        padding-top: 75px;
        padding-bottom: 67px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 1035px) {
        justify-content: space-around;
        }
        @media screen and (max-width: 395px) {
         justify-content: left;
            }

        h5{
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 30px;
        }    
        a{
            font-size: 13px;
            font-weight: 400;
            color: #000000;
            margin-bottom: 13px;
        }
    }
    .footer__links{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        width: 180px;
        @media screen and (max-width: 395px) {
            margin-top: 50px;
               }

    }
    .footer__usefulinf{
        display: flex;
        flex-direction: column;
        width: 133px;
        margin: 0 50px;
        @media screen and (max-width: 490px) {
            margin: 0;
            }
        @media screen and (max-width: 395px) {
                margin-top: 50px;
                   }

    }
    .footer__conection{
        display: flex;
        flex-direction: column;
        width: 212px;
        margin-right: 50px;
        @media screen and (max-width: 757px) {
            margin-top: 50px;
        }

    }
    .contact-form__input{
        width: 225px;
        height: 40px;
        border-radius: 18px;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        padding: 16px;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 10px;

    }
    .contact-form__button{
        width: 225px;
        height: 40px;
        border-radius: 18px;
        background-color: #6fb07f;
        font-size: 13px;
        font-weight: 400;
        color: #ffffff;
    }
    .footer__testimonials{
        width: 228px;
        margin-left: 50px;
        @media screen and (max-width: 757px) {
            margin-top: 50px;
        }
        @media screen and (max-width: 617px) {
            margin-left: 0px;
        }
        p{
            margin-bottom: 35px;
        }
    }

}    
.footer__bottom{
    padding: 21px 0;
    background-color: #f2f2f2;

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
             @media screen and (max-width: 487px){
                justify-content: space-around;
            }
        }
        .footer__year{
            font-size: 13px;
            font-weight: 400;
            color: black;
            margin: 0 50px;
            @media screen and (max-width: 487px) {
            margin: 20px 50px;
            }
        }

}